.container {
    padding: 10px;
    max-width: 1400px;
    margin: 0 auto;
}

.header {
    width: 100%;
    padding: 10px 20px;
    background: aqua;
}

.header__wrapper {
    display: flex;
}

.header__search {
    padding-left: 20px;
    margin-left: auto;
}

.logo {
    margin-right: 30px;
}

.navbar {
    flex: 1 1 auto;
    justify-self: flex-end;
    display: flex;
    gap: 60px;
}

.navbar__item {
    flex: 0 1 100px;
    position: relative;
    text-align: center;
}

.navbar__item:hover .navbar__item-dropdown{
    display: block;
}

.navbar__item-title {
    font-size: inherit;
    font-weight: inherit;
}

ul.navbar__item-dropdown {
    background: white;
    position: absolute;
    z-index: 1;
    display: none;
    padding: 5px;
    width: 100%;
}

.footer {
    background: #e7e7e7;
}

.footer__wrapper {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.footer__column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    max-width: 100vw;
}

.main {
    flex: 1 1 auto;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__container {
    background: #e7e7e7;
    max-width: 1000px;
}

.start {
    padding: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
}

.start__img {
    max-width: 200px;
    max-height: 200px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.start__img-p {

}

.start__p {
    grid-column: 1/3;
}


.main__back {
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 100px;
    animation: go-left-right 5s infinite alternate-reverse linear;
}

.main__back_2 {
    right: 0;
}

@keyframes go-left-right { /* назовём анимацию: "go-left-right" */
    from {
        top: 0;
    }
    to {
        top: 70%;
    }
}

/* Префикс для Chrome, Opera, Safari */
@-webkit-keyframes go-left-right {
    from {
        left: 0px;
    }
    to {
        left: calc(100% - 50px);
    }
}