.start {
}

.start__p-brief-info {
    font-size: 1.2em;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
}

.start__p {
    margin-bottom: 20px;
}


.start__img {
    position: relative;
    float: left;
    max-width: 200px;
    max-height: 200px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.start__img:before, .start__big-img:before {
    content: "";
    display: block;
    position: absolute;
    top:0;bottom: 0;left:0;right: 0;
    margin: auto;
    width: 50%;
    height: 50%;
    background-size: 100% 100% !important;
    background: url("./../assets/search.svg") no-repeat center center;
    z-index: 1;

    transition: all .1s ease;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

.start__img:hover:before, .start__big-img:hover:before {
    visibility: visible;
    opacity: 1;
}


.start__big-img {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 8px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 8px 8px var(--link-color);
}



.start__a_red{
    color: red;
}

.start__a_orange{
    color: orange;
}

.start__a_blue{
    color: skyblue;
}

.start__a_pink{
    color: deeppink;
}

.start__a:hover {
    cursor: pointer;
    opacity: 0.8;
}
